*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Dosis', sans-serif;
}

.header{
position: relative;
height: 80vh;
background-image:-webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img-v2/8924-man-mask-anonymous-hood-hoodie-4k.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.logo{
    position: absolute;
    top: 40%;
    left: 15%;
    width: 55%;
    line-height: 1.2;
    color: #fff;
}
.logo > h4{
    
    font-weight: 200;
    font-size: 3em;
    
}
.logo > h1{
    font-weight: 600;
    font-size: calc(40px + (120 - 40) * ((100vw - 300px) / (1600 - 300)));
}
.logo > h6{
    letter-spacing: 5px;
    font-weight: 400;
    font-size: calc(12px + (19 - 12) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 25px;
    

}
.logo >h6 >span{
    border-left: 2px solid white;
    padding: 0 5px 0 5px;
    
}
.logo > button{
    border: none;
    padding: 1em;
    color: #000;
    font-weight: 400;
    background:rgba(194, 233, 251, 0.774);
    border-radius: 100px;
}
.contenedor-icon{
    display: flex;
    max-width: 180px;
    justify-content:space-between;
    list-style: none;
    margin-left: 15%;
    padding-top: 15px;
    
}
.contenedor-icon > li > a{
    font-size: 25px;
    color: #ffffffb7;
}

.contenedor-perfil{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    box-shadow: 0 1px 10px rgba(54, 54, 54, 0.18);
} 

.contenedor-sobre{
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 40% ;
    list-style: none;
    margin: auto 100px;
    
}
.contenedor-sobre > li > a{
    text-decoration: none;
    font-size: 20px;
    font-weight:bold;
    color: rgba(0, 0, 0, 0.8);
    padding: 0.5rem 1rem;

}


.contenedor-img2{
    position:absolute;
    left: 45%;
    top: 75%;
    list-style: none;
    
}
.img2{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.contenedor-portafolio{
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 40% ;
    list-style: none;
    margin: auto 100px;
}
.contenedor-portafolio > li >a{
    text-decoration: none;
    font-size: 20px;
    font-weight:bold;
    color: rgba(0, 0, 0, 0.8);
    padding: 0.5rem 1rem;
}
.bloque-uno{
    width: 100%;
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid #dee2e6;
}
.bloques{
    width: 34%;
    padding: 60px;
    border-right: 1px solid #dee2e6;
    line-height: 1.5;
}
.bloques > h3{
    font-weight:500;
    font-size: 1.75em;
    
}
.bloques > span{
    display: block;
    width: 50px;
    height: 1.5px;
    background-color: #4aacda;
}
.bloques--quiensoy >h5{
    font-size: 1.25em;
    font-weight: 500;
    margin: 2em 0 1em 0;
}
.bloques--quiensoy > button{
    margin-top: 2em;
    padding: 1.2em;
    border: 2px solid #4aacda;
    color: #000;
    border-radius: 5px;
    background: white ;
}

.bloques--personal >ul{
    margin-top: 2em;
    list-style: none;
    font-weight: bold;
    line-height: 2;
}

.bloques--personal > ul > li >span{
    font-weight: 400;
}
.personal-iconos{
    display: flex;
    gap: 20px;
    font-size: 1.2em;
}
.personal-iconos > li > a{
    color: #4aacda;
}
.bloques--experiencias{}