*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Dosis', sans-serif;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1151%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M169.38 642.6L294.09 714.6L294.09 858.6L169.38 930.6L44.67 858.6L44.67 714.6zM294.09 -5.4L418.8 66.6L418.8 210.6L294.09 282.6L169.38 210.6L169.38 66.6zM418.8 210.6L543.51 282.6L543.51 426.6L418.8 498.6L294.09 426.6L294.09 282.6zM294.09 426.6L418.8 498.6L418.8 642.6L294.09 714.6L169.38 642.6L169.38 498.6zM418.8 642.6L543.51 714.6L543.51 858.6L418.8 930.6L294.09 858.6L294.09 714.6zM792.94 -5.4L917.65 66.6L917.65 210.6L792.94 282.6L668.23 210.6L668.23 66.6zM917.65 210.6L1042.36 282.6L1042.36 426.6L917.65 498.6L792.94 426.6L792.94 282.6zM1167.07 210.6L1291.78 282.6L1291.78 426.6L1167.07 498.6L1042.36 426.6L1042.36 282.6zM1042.36 426.6L1167.07 498.6L1167.07 642.6L1042.36 714.6L917.65 642.6L917.65 498.6zM1167.07 642.6L1291.78 714.6L1291.78 858.6L1167.07 930.6L1042.36 858.6L1042.36 714.6zM1291.78 -5.4L1416.49 66.6L1416.49 210.6L1291.78 282.6L1167.07 210.6L1167.07 66.6zM1416.49 210.6L1541.2 282.6L1541.2 426.6L1416.49 498.6L1291.78 426.6L1291.78 282.6z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M154.98 642.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM279.69 714.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM279.69 858.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM154.98 930.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM30.27 858.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM30.27 714.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM279.69 -5.4 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM404.4 66.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM404.4 210.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM279.69 282.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM154.98 210.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM154.98 66.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM529.11 282.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM529.11 426.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM404.4 498.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM279.69 426.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM404.4 642.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM154.98 498.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM529.11 714.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM529.11 858.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM404.4 930.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM778.54 -5.4 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM903.25 66.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM903.25 210.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM778.54 282.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM653.83 210.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM653.83 66.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM1027.96 282.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM1027.96 426.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM903.25 498.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM778.54 426.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM1152.67 210.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM1277.38 282.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM1277.38 426.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM1152.67 498.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM1152.67 642.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM1027.96 714.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM903.25 642.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM1277.38 714.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM1277.38 858.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM1152.67 930.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM1027.96 858.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM1277.38 -5.4 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM1402.09 66.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM1402.09 210.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM1152.67 66.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM1526.8 282.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM1526.8 426.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0zM1402.09 498.6 a14.4 14.4 0 1 0 28.8 0 a14.4 14.4 0 1 0 -28.8 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M7.82 135.25L51.12 160.25L51.12 210.25L7.82 235.25L-35.48 210.25L-35.48 160.25zM51.12 210.25L94.43 235.25L94.43 285.25L51.12 310.25L7.82 285.25L7.82 235.25zM51.12 360.25L94.43 385.25L94.43 435.25L51.12 460.25L7.82 435.25L7.82 385.25zM7.82 435.25L51.12 460.25L51.12 510.25L7.82 535.25L-35.48 510.25L-35.48 460.25zM51.12 510.25L94.43 535.25L94.43 585.25L51.12 610.25L7.82 585.25L7.82 535.25zM94.43 -14.75L137.73 10.25L137.73 60.25L94.43 85.25L51.12 60.25L51.12 10.25zM137.73 360.25L181.03 385.25L181.03 435.25L137.73 460.25L94.43 435.25L94.43 385.25zM94.43 435.25L137.73 460.25L137.73 510.25L94.43 535.25L51.12 510.25L51.12 460.25zM224.33 60.25L267.63 85.25L267.63 135.25L224.33 160.25L181.03 135.25L181.03 85.25zM224.33 210.25L267.63 235.25L267.63 285.25L224.33 310.25L181.03 285.25L181.03 235.25zM181.03 285.25L224.33 310.25L224.33 360.25L181.03 385.25L137.73 360.25L137.73 310.25zM181.03 435.25L224.33 460.25L224.33 510.25L181.03 535.25L137.73 510.25L137.73 460.25zM224.33 510.25L267.63 535.25L267.63 585.25L224.33 610.25L181.03 585.25L181.03 535.25zM310.94 210.25L354.24 235.25L354.24 285.25L310.94 310.25L267.63 285.25L267.63 235.25zM267.63 285.25L310.94 310.25L310.94 360.25L267.63 385.25L224.33 360.25L224.33 310.25zM310.94 360.25L354.24 385.25L354.24 435.25L310.94 460.25L267.63 435.25L267.63 385.25zM267.63 435.25L310.94 460.25L310.94 510.25L267.63 535.25L224.33 510.25L224.33 460.25zM310.94 510.25L354.24 535.25L354.24 585.25L310.94 610.25L267.63 585.25L267.63 535.25zM397.54 510.25L440.85 535.25L440.85 585.25L397.54 610.25L354.24 585.25L354.24 535.25zM440.85 -14.75L484.15 10.25L484.15 60.25L440.85 85.25L397.54 60.25L397.54 10.25zM440.85 135.25L484.15 160.25L484.15 210.25L440.85 235.25L397.54 210.25L397.54 160.25zM484.15 360.25L527.45 385.25L527.45 435.25L484.15 460.25L440.85 435.25L440.85 385.25zM440.85 435.25L484.15 460.25L484.15 510.25L440.85 535.25L397.54 510.25L397.54 460.25zM527.45 -14.75L570.75 10.25L570.75 60.25L527.45 85.25L484.15 60.25L484.15 10.25zM527.45 135.25L570.75 160.25L570.75 210.25L527.45 235.25L484.15 210.25L484.15 160.25zM570.75 210.25L614.06 235.25L614.06 285.25L570.75 310.25L527.45 285.25L527.45 235.25zM527.45 285.25L570.75 310.25L570.75 360.25L527.45 385.25L484.15 360.25L484.15 310.25zM527.45 435.25L570.75 460.25L570.75 510.25L527.45 535.25L484.15 510.25L484.15 460.25zM570.75 510.25L614.06 535.25L614.06 585.25L570.75 610.25L527.45 585.25L527.45 535.25zM657.36 60.25L700.66 85.25L700.66 135.25L657.36 160.25L614.06 135.25L614.06 85.25zM614.06 135.25L657.36 160.25L657.36 210.25L614.06 235.25L570.75 210.25L570.75 160.25zM657.36 210.25L700.66 235.25L700.66 285.25L657.36 310.25L614.06 285.25L614.06 235.25zM614.06 285.25L657.36 310.25L657.36 360.25L614.06 385.25L570.75 360.25L570.75 310.25zM743.96 60.25L787.27 85.25L787.27 135.25L743.96 160.25L700.66 135.25L700.66 85.25zM700.66 135.25L743.96 160.25L743.96 210.25L700.66 235.25L657.36 210.25L657.36 160.25zM743.96 360.25L787.27 385.25L787.27 435.25L743.96 460.25L700.66 435.25L700.66 385.25zM700.66 435.25L743.96 460.25L743.96 510.25L700.66 535.25L657.36 510.25L657.36 460.25zM830.57 210.25L873.87 235.25L873.87 285.25L830.57 310.25L787.27 285.25L787.27 235.25zM787.27 285.25L830.57 310.25L830.57 360.25L787.27 385.25L743.96 360.25L743.96 310.25zM787.27 435.25L830.57 460.25L830.57 510.25L787.27 535.25L743.96 510.25L743.96 460.25zM830.57 510.25L873.87 535.25L873.87 585.25L830.57 610.25L787.27 585.25L787.27 535.25zM873.87 135.25L917.17 160.25L917.17 210.25L873.87 235.25L830.57 210.25L830.57 160.25zM917.17 210.25L960.48 235.25L960.48 285.25L917.17 310.25L873.87 285.25L873.87 235.25zM873.87 285.25L917.17 310.25L917.17 360.25L873.87 385.25L830.57 360.25L830.57 310.25zM873.87 435.25L917.17 460.25L917.17 510.25L873.87 535.25L830.57 510.25L830.57 460.25zM917.17 510.25L960.48 535.25L960.48 585.25L917.17 610.25L873.87 585.25L873.87 535.25zM960.48 135.25L1003.78 160.25L1003.78 210.25L960.48 235.25L917.17 210.25L917.17 160.25zM960.48 285.25L1003.78 310.25L1003.78 360.25L960.48 385.25L917.17 360.25L917.17 310.25zM1003.78 360.25L1047.08 385.25L1047.08 435.25L1003.78 460.25L960.48 435.25L960.48 385.25zM1047.08 -14.75L1090.38 10.25L1090.38 60.25L1047.08 85.25L1003.78 60.25L1003.78 10.25zM1090.38 60.25L1133.68 85.25L1133.68 135.25L1090.38 160.25L1047.08 135.25L1047.08 85.25zM1047.08 135.25L1090.38 160.25L1090.38 210.25L1047.08 235.25L1003.78 210.25L1003.78 160.25zM1047.08 285.25L1090.38 310.25L1090.38 360.25L1047.08 385.25L1003.78 360.25L1003.78 310.25zM1047.08 435.25L1090.38 460.25L1090.38 510.25L1047.08 535.25L1003.78 510.25L1003.78 460.25zM1090.38 510.25L1133.68 535.25L1133.68 585.25L1090.38 610.25L1047.08 585.25L1047.08 535.25zM1133.68 -14.75L1176.99 10.25L1176.99 60.25L1133.68 85.25L1090.38 60.25L1090.38 10.25zM1176.99 60.25L1220.29 85.25L1220.29 135.25L1176.99 160.25L1133.68 135.25L1133.68 85.25zM1133.68 135.25L1176.99 160.25L1176.99 210.25L1133.68 235.25L1090.38 210.25L1090.38 160.25zM1176.99 210.25L1220.29 235.25L1220.29 285.25L1176.99 310.25L1133.68 285.25L1133.68 235.25zM1133.68 285.25L1176.99 310.25L1176.99 360.25L1133.68 385.25L1090.38 360.25L1090.38 310.25zM1176.99 360.25L1220.29 385.25L1220.29 435.25L1176.99 460.25L1133.68 435.25L1133.68 385.25zM1133.68 435.25L1176.99 460.25L1176.99 510.25L1133.68 535.25L1090.38 510.25L1090.38 460.25zM1263.59 210.25L1306.89 235.25L1306.89 285.25L1263.59 310.25L1220.29 285.25L1220.29 235.25zM1220.29 285.25L1263.59 310.25L1263.59 360.25L1220.29 385.25L1176.99 360.25L1176.99 310.25zM1263.59 510.25L1306.89 535.25L1306.89 585.25L1263.59 610.25L1220.29 585.25L1220.29 535.25zM1306.89 135.25L1350.2 160.25L1350.2 210.25L1306.89 235.25L1263.59 210.25L1263.59 160.25zM1350.2 210.25L1393.5 235.25L1393.5 285.25L1350.2 310.25L1306.89 285.25L1306.89 235.25zM1306.89 285.25L1350.2 310.25L1350.2 360.25L1306.89 385.25L1263.59 360.25L1263.59 310.25zM1350.2 510.25L1393.5 535.25L1393.5 585.25L1350.2 610.25L1306.89 585.25L1306.89 535.25zM1393.5 -14.75L1436.8 10.25L1436.8 60.25L1393.5 85.25L1350.2 60.25L1350.2 10.25zM1436.8 60.25L1480.11 85.25L1480.11 135.25L1436.8 160.25L1393.5 135.25L1393.5 85.25zM1436.8 210.25L1480.11 235.25L1480.11 285.25L1436.8 310.25L1393.5 285.25L1393.5 235.25zM1393.5 285.25L1436.8 310.25L1436.8 360.25L1393.5 385.25L1350.2 360.25L1350.2 310.25zM1436.8 360.25L1480.11 385.25L1480.11 435.25L1436.8 460.25L1393.5 435.25L1393.5 385.25zM1393.5 435.25L1436.8 460.25L1436.8 510.25L1393.5 535.25L1350.2 510.25L1350.2 460.25zM1436.8 510.25L1480.11 535.25L1480.11 585.25L1436.8 610.25L1393.5 585.25L1393.5 535.25z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1151'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.contenedor-total{
    width: 90%;
    margin: 50px auto;
    background: #fff;
    border-radius: 30px;
    box-shadow: 1px 0px 61px 5px rgba(0,0,0,0.69);
    -webkit-box-shadow: 1px 0px 61px 5px rgba(0,0,0,0.69);
    -moz-box-shadow: 1px 0px 61px 5px rgba(0,0,0,0.69);
}

.header{
position: relative;
height: 80vh;
border-top-left-radius:26px ;
border-top-right-radius:26px ;
background-image:-webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img-v2/FondoPrinciapl.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.logo{
    position: absolute;
    top: 40%;
    left: 15%;
    width: 55%;
    line-height: 1.2;
    color: #fff;
}

.logo > h4{
    font-weight: 200;
    font-size: 3em;
}

.logo > h1{
    font-weight: 600;
    font-size: calc(40px + (120 - 40) * ((100vw - 300px) / (1600 - 300)));
}

.logo > h6{
    letter-spacing: 5px;
    font-weight: 400;
    font-size: calc(12px + (19 - 12) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 25px;
}

.logo >h6 >span{
    border-left: 2px solid white;
    padding: 0 5px 0 5px;
}

.logo > button{
    border: none;
    padding: 1em;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    background:none;
    border: 1px solid #4aacda;
    border-radius: 100px;
    transition: 300ms;
}

.logo > button:hover{
    background: #4aacda;
    cursor: pointer;
}
.contenedor-icon{
    display: flex;
    max-width: 180px;
    justify-content:space-between;
    list-style: none;
    margin-left: 15%;
    padding-top: 15px;
}

.contenedor-icon > li > a{
    font-size: 25px;
    color: #ffffffb7;
}


/*Secion nav*/

.contenedor-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    box-shadow: 0 1px 10px rgba(54, 54, 54, 0.18);
} 

.nav-sobre{
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 40% ;
    list-style: none;
    margin: auto 100px;
}

.nav-sobre > li > a{
    text-decoration: none;
    font-size: 20px;
    font-weight:bold;
    color: rgba(0, 0, 0, 0.8);
    padding: 0.5rem 1rem;
    transition: 300ms;
}

.nav-sobre >li > a:hover{
    color: #4aacda;

}

.nav-perfil{
    position:absolute;
    left: 45%;
    top: 77%;
    list-style: none;
}

.img-perfil{
    width: 150px;
    height: 150px;
}

.nav-portafolio{
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 40% ;
    list-style: none;
    margin: auto 100px;
}

.nav-portafolio > li >a{
    text-decoration: none;
    font-size: 20px;
    font-weight:bold;
    color: rgba(0, 0, 0, 0.8);
    padding: 0.5rem 1rem;
    transition: 300ms;
}

.nav-portafolio > li>a:hover{
    color: #4aacda;
}


/* Secion sobre mi */

.contenedor-section1{
    width: 100%;
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid #dee2e6;
}

.articulo{
    width: 34%;
    padding: 60px;
    border-right: 1px solid #dee2e6;
    line-height: 1.5;
}

.articulo > h3{
    font-weight:500;
    font-size: 2em;
}

.articulo > span{
    display: block;
    width: 50px;
    height: 1.5px;
    background-color: #4aacda;
}

.articulo--quiensoy >h5{
    font-size: 1.2em;
    font-weight: 500;
    margin: 1em 0 1em 0;
}

.articulo--quiensoy > button{
    margin-top: 2em;
    padding: 1.2em;
    border: 2px solid #4aacda;
    color: #000;
    border-radius: 5px;
    background: white ;
    transition: 300ms;
}

.articulo--quiensoy > button:hover{
    background:#4aacda;
    color: #fff;
    cursor: pointer;
}

.articulo--personal >ul{
    margin-top: 2em;
    list-style: none;
    font-weight: bold;
    line-height: 2;
}

.articulo--personal > ul > li >span{
    font-weight: 400;
    
}

.personal-iconos{
    display: flex;
    gap: 20px;
    font-size: 1.2em;
}

.personal-iconos > li > a{
    color: #4aacda;
}

.articulo--experiencias > p{
    margin-top: 2em;
}

/*Codificador secion */
.contenedor-section2{
    height: 1200px;
    position: relative;
    margin: 50px auto;
    padding: 60px;
}

.logo-codificador{
    width: 100px;
}

.caja-texto{
    position: absolute;
    left: 350px;
    top: 200px;
}

.textarea{
    height: 552px;
    width: 782px;
    border: none;
    background:none;
    font-weight: 400;
    font-size: 32px;
}

.aviso{
    display: flex;
    position: absolute;
    left: 350px;
    top: 900px;
}

.contenedor-btn{
    display: flex;
    position: absolute;
    left: 350px;
    bottom: 200px;
    gap: 24px;
}

.btn-encriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 2px solid #4aacda;
    background: #4aacdace;
    color: #fff;
    font-size: 18px;
    transition: 300ms;
}

.btn-encriptar:hover{
    background: #4aacda;
    font-size: 20px;
    cursor: pointer;
}

.btn-desencriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 2px solid #4aacda;
    background: #fff;
    font-size: 18px;
    transition: 300ms;
    
}

.btn-desencriptar:hover{
    background: #dee2e6;
    font-size: 20px;
    cursor: pointer;
}

.contenedor-rectangulo{
    float: right;
    width: 400px;
    height: 900px;
    text-align: center;
    background: none;
    box-shadow: 0px 24px 32px 8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    background-image: url(/img-v2/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.inosuke{
    margin-top: 150px;
    margin-bottom: 50px;
    width: 350px;
}

.texto{   
    width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    text-shadow: #e0e0e0 1px 1px 0;
}

.texto >p{
    margin: 200px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    
}

.texto-desencriptar{
    position: absolute;
    width: 400px;
    height: 900px;
    right: 60px;
    padding: 30px;
}

.resultado{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
}

.btn-copiar{
    position: absolute;
    bottom: 50px;
    left: 40px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 2px solid #4aacda;
    background: #fff;
    font-size: 18px;
    display: none;
    transition: 300ms;
}

.btn-copiar:hover{
    color: #fff;
    background: #4aacda;
    font-size: 20px;
    cursor: pointer;
}

/*Juego tiro al blanco*/

.contenedor-section3{
border-top: 1px solid #dee2e6;
}
.container-game {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .canvas-borde {
    border: 1px solid black;
  }
  
  .score-game {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
  }
  
  .btn-reset {
    display: block;
    padding: 20px;
    margin: 20px auto;
    color: #000;
    background:none;
    border:1px solid #4aacda;
    border-radius: 10px;
    transition: 300ms;
  }
  .btn-reset:hover{
    cursor: pointer;
    background: #4aacda;
    color: #fff;
  }
  
  .title {
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
  }


  /*Footer*/
.footer{
    text-align: center;
    background-image: url(img-v2/bg.jpg);
    padding: 10px;
    display: flex;
    justify-content: center;
}

.Copyright {
    color: #fff;
    font-size: 16px;
    margin: 20px;
    font-weight: 400;
}


.ocultar{
    display: none;
}

.activar{
    display: block;
}






