*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Dosis', sans-serif;
    
}

.header{
position: relative;
height: 80vh;
background-image:-webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img-v2/FondoPrinciapl.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.logo{
    position: absolute;
    top: 40%;
    left: 15%;
    width: 55%;
    line-height: 1.2;
    color: #fff;
}
.logo > h4{
    
    font-weight: 200;
    font-size: 3em;
    
}
.logo > h1{
    font-weight: 600;
    font-size: calc(40px + (120 - 40) * ((100vw - 300px) / (1600 - 300)));
}
.logo > h6{
    letter-spacing: 5px;
    font-weight: 400;
    font-size: calc(12px + (19 - 12) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 25px;
    

}
.logo >h6 >span{
    border-left: 2px solid white;
    padding: 0 5px 0 5px;
    
}
.logo > button{
    border: none;
    padding: 1em;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    background:none;
    border: 1px solid #4aacda;
    border-radius: 100px;
    transition: 300ms;
}
.logo > button:hover{
    
    background: #4aacda;
    cursor: pointer;
}
.contenedor-icon{
    display: flex;
    max-width: 180px;
    justify-content:space-between;
    list-style: none;
    margin-left: 15%;
    padding-top: 15px;
    
}
.contenedor-icon > li > a{
    font-size: 25px;
    color: #ffffffb7;
}

.contenedor-perfil{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    box-shadow: 0 1px 10px rgba(54, 54, 54, 0.18);
} 

.contenedor-sobre{
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 40% ;
    list-style: none;
    margin: auto 100px;
    
}

.contenedor-sobre > li > a{
    text-decoration: none;
    font-size: 20px;
    font-weight:bold;
    color: rgba(0, 0, 0, 0.8);
    padding: 0.5rem 1rem;
    transition: 300ms;
}
.contenedor-sobre >li > a:hover{
    font-weight:initial;
    color: #4aacda;

}

.contenedor-img2{
    position:absolute;
    left: 45%;
    top: 75%;
    list-style: none;
    
}
.img2{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 5px 1px rgba(128, 128, 128, 0.13);
    border: 10px solid #fff;
}

.contenedor-portafolio{
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 40% ;
    list-style: none;
    margin: auto 100px;
}
.contenedor-portafolio > li >a{
    text-decoration: none;
    font-size: 20px;
    font-weight:bold;
    color: rgba(0, 0, 0, 0.8);
    padding: 0.5rem 1rem;
    transition: 300ms;
}
.contenedor-portafolio > li>a:hover{
    font-weight:initial;
    color: #4aacda;

}
.bloque-uno{
    width: 100%;
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid #dee2e6;
}
.bloques{
    width: 34%;
    padding: 60px;
    border-right: 1px solid #dee2e6;
    line-height: 1.5;
}
.bloques > h3{
    font-weight:500;
    font-size: 2em;
    
}
.bloques > span{
    display: block;
    width: 50px;
    height: 1.5px;
    background-color: #4aacda;
}
.bloques--quiensoy >h5{
    font-size: 1.2em;
    font-weight: 500;
    margin: 1em 0 1em 0;
}
.bloques--quiensoy > button{
    margin-top: 2em;
    padding: 1.2em;
    border: 2px solid #4aacda;
    color: #000;
    border-radius: 5px;
    background: white ;
    transition: 300ms;
}
.bloques--quiensoy > button:hover{
    background:#4aacda;
    color: #fff;
    cursor: pointer;
}

.bloques--personal >ul{
    margin-top: 2em;
    list-style: none;
    font-weight: bold;
    line-height: 2;
}

.bloques--personal > ul > li >span{
    font-weight: 400;
    
}
.personal-iconos{
    display: flex;
    gap: 20px;
    font-size: 1.2em;
}
.personal-iconos > li > a{
    color: #4aacda;
}
/*bloque experiencia*/




.codificador{
    width: 90%;
    height: 1200px;
    position: relative;
    margin: 50px auto;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    padding: 60px;
    box-shadow: 2px 3px 10px 4px rgba(0,0,0,0.27);
    -webkit-box-shadow: 2px 3px 10px 4px rgba(0,0,0,0.27);
    -moz-box-shadow: 2px 3px 10px 4px rgba(0,0,0,0.27);
    
}



.logo-codificador{
    width: 100px;
}

.caja-texto{
    position: absolute;
    left: 350px;
    top: 200px;
}
.textarea{
    height: 552px;
    width: 782px;
    border: none;
    background:none;
    font-weight: 400;
    font-size: 32px;
}

.aviso{
    display: flex;
    position: absolute;
    left: 350px;
    top: 900px;
}

.contenedor-btn{
    display: flex;
    position: absolute;
    left: 350px;
    bottom: 200px;
    gap: 24px;
}
.btn-encriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 2px solid #4aacda;
    background: #4aacdace;
    color: #fff;
    font-size: 18px;
    transition: 300ms;
}
.btn-encriptar:hover{
    background: #4aacda;
    font-size: 20px;
    cursor: pointer;
}
.btn-desencriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 2px solid #4aacda;
    background: #fff;
    font-size: 18px;
    transition: 300ms;
}
.btn-desencriptar:hover{
    background: #dee2e6;
    font-size: 20px;
    cursor: pointer;
}


.contenedor-rectangulo{
    float: right;
    width: 400px;
    height: 900px;
    text-align: center;
    background: none;
    box-shadow: 0px 24px 32px 8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    
}
.inosuke{
    margin-top: 150px;
    width: 250px;
}

.texto{
    margin-top: 10px;
    font-size: 24px;
    line-height:2;
    font-weight: 700;
}
.texto >p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.texto-desencriptar{
    position: absolute;
    width: 400px;
    height: 900px;
    right: 60px;
    padding: 30px;
}
.resultado{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
}

.btn-copiar{
    position: absolute;
    bottom: 50px;
    left: 40px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 2px solid #4aacda;
    background: #fff;
    font-size: 18px;
    display: none;
    transition: 300ms;
}
.btn-copiar:hover{
    color: #fff;
    background: #4aacda;
    font-size: 20px;
    cursor: pointer;
}

.seccion3{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    width: 90%;
    height: 30%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    box-shadow: 2px 3px 10px 4px rgba(0,0,0,0.27);
    -webkit-box-shadow: 2px 3px 10px 4px rgba(0,0,0,0.27);
    -moz-box-shadow: 2px 3px 10px 4px rgba(0,0,0,0.27);
}
.seccion3 >h3{
    font-size: 2em;
}


.footer{
    text-align: center;
    background-image: url(/img-v2/bg.jpg);
    padding: 10px;
}
.img-footer{
    width: 100px;
}

.Copyright {
    color: #fff;
    font-size: 16px;
    margin: 20px;
    font-weight: 400;
}
.prf{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.ocultar{
    display: none;
}

.activar{
    display: block;
}


